---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Blog">
  <p>
    This is a blog post. It's a long one, so I'll just keep typing until I run out of words.
  </p>
</MainLayout>