---
import MainLayout from "../layouts/MainLayout.astro";

const hobbies = ['Programming', 'Reading', 'Writing', 'Drawing', 'Gaming', 'Play music'];
---
<MainLayout pageTitle="Hobbies">
  <h2>My hobbies</h2>
  <ul>
    {hobbies.map((hobby) => {
      return <li>{hobby}</li>;
    })}
  </ul>
</MainLayout>