<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/hobbies">Contact</a></li>
  </ul>
  <h1>Hobbies</h1>
  <p>
    This is my hobbies page
  </p>
  <h2>My hobbies</h2>
  <ul>
    <li>Programming</li>
    <li>Reading</li>
    <li>Writing</li>
  </ul>
</body>